.main{
    visibility: hidden;
}

:root{
    --font_color : palegoldenrod;

}

[data_theme = "dark"]{
    --font_color : powderblue;
    .modal-content{
        background-color: powderblue;
    }
}

body{
    font-family: Snell Roundhand, cursive;
    height: 100vh;
    background-color: var(--font_color);
}

#meta_container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "player name pk"
    ;
}

.meta_main{
    color: red;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
    animation: color-change 6s infinite;
}




@keyframes color-change {
    0% { color: red; }
    25%{ color: blueviolet; }
    50%{ color: blueviolet; }
    75%{ color: blue; }
    100%{color: red; }
}

#gridSize{
    outline: none;
    box-shadow: 0 0 3px #66afe9;
    width: 50px;
    height: 20%;
    font-size: xx-large;
    color: blueviolet;
    font-weight: 900;
}

#input{
    height: 20%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "size submit level"
    ;
    justify-items:center;
    gap: 10px;
}




#size{
    grid-area: size;
}

#level{
    grid-area: level;
    
}

@media screen and (max-width: 400px) and (max-heigth: 400px) {
    
}

#desc{
    font-family: fantasy;
    font-size: x-large;
}

#label2, #label_theme{
    font-family: fantasy;
    font-size: x-large;
}


#easy{
    color:#4CAF50;
    font-family: fantasy;
    font-size: x-large;

}

#easy:hover, #hard:hover {
    background-color: white;
    border-style: groove;
    border-radius: 3px;
}
#hard{
    color:crimson;
    font-family: fantasy;
    font-size: x-large;
}



#submit{
    grid-area: submit;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(to right, blue, black);
    color: yellow;
    font-weight: bolder;
    text-transform: uppercase;
    font-size:x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 12.5vh;
}


#submit:hover{
    outline: 4px solid blueviolet;
}


#board_html{
    padding-top: 20px;
    grid-area: "main";
}


table{
    border-collapse: collapse;
    margin: 1px auto;

}
td{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    text-align: center;
    font-size: xx-large;
    cursor: pointer;
}



#form-box {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}
h2 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="radio"] {
    margin-right: 5px;
}



div.end{
    text-align: center;
    font-size: xx-large;
    display: none;
    animation: color-change 10s infinite;
}

#container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "theme main record"
    ;
}


#theme_choice{
    grid-area: "theme";
    padding-top: 30px;
}



#light_theme, #dark_theme{
    color: fuchsia;
    font-family: fantasy;
    font-size: x-large;
}

#dark_theme{
    color: blue;
}

#light_theme:hover, #dark_theme:hover{
    background-color: white;
    border-style: groove;
    border-radius: 3px;
}



#record{
    grid-area: "record";
    font-size: large;
}





.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 99;
}
  
.modal--open{
    opacity: 1;
    visibility: visible;
}
  
.modal-content{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: palegoldenrod;
    border-radius: 8px;
}
  
.modal-close {
    position: absolute;
    top: 20%;
    right: 25%;
    padding: 4px;
    width:50%;
    height: 60%;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-family:fantasy;
    font-size:xx-large;
    font-weight:normal;
    animation: color-change 6s infinite;
}

