
body{
    font-family: Snell Roundhand, cursive;
    height: 100vh;
    background-color: palegoldenrod;
}

#meta_container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "player name pk"
    ;
}

#meta_main{
    color: red;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
    animation: color-change 6s infinite;
}




@keyframes color-change {
    0% { color: red; }
    25%{ color: blueviolet; }
    50%{ color: blueviolet; }
    75%{ color: blue; }
    100%{color: red; }
}

#gridSize{
    outline: none;
    box-shadow: 0 0 3px #66afe9;
    width: 50px;
    height: 20%;
    font-size: xx-large;
    color: blueviolet;
    font-weight: 900;
}

#input{
    height: 20%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "size submit level"
    ;
    justify-items:center;
    gap: 10px;
}




#size{
    grid-area: size;
}

#level{
    grid-area: level;
    
}

@media screen and (max-width: 400px) and (max-heigth: 400px) {
    
}

#desc{
    font-family: fantasy;
    font-size: x-large;
}

#label2{
    font-family: fantasy;
    font-size: x-large;
}


#easy{
    color:#4CAF50;
    font-family: fantasy;
    font-size: x-large;

}

#easy:hover,#hard:hover {
    background-color: white;
    border-style: groove;
    border-radius: 3px;
}
#hard{
    color:crimson;
    font-family: fantasy;
    font-size: x-large;
}



#submit{
    grid-area: submit;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(to right, blue, black);
    color: yellow;
    font-weight: bolder;
    text-transform: uppercase;
    font-size:x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 12.5vh;
}


#submit:hover{
    outline: 4px solid blueviolet;
}


#board_html{
    padding-top: 20px;
}


table{
    border-collapse: collapse;
    margin: 1px auto;

}
td{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    text-align: center;
    font-size: xx-large;
    cursor: pointer;
}



#form-box {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}
  h2 {
    text-align: center;
}
  label {
    display: block;
    margin-bottom: 10px;
}
  input[type="radio"] {
    margin-right: 5px;
}





div.end{
    text-align: center;
    font-size: xx-large;
    display: none;
    animation: color-change 10s infinite;
}


